{% extends "mainpage.html" %}

{% block content %}
  <h2>Edit Post</h2>

    <form method="post">
      <label>
        <div>subject</div>
        <input type="text" name="subject" class="newpost-subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
    <form class="cancel-button" action="/editcancel" method="get">
      <input type="hidden" name="post_id" value="{{post_id}}">
      <input type="submit" name="cancel" value="Cancel">
    </form>
{% endblock %}
