<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FSND Basic Blog</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>

  <body>
    <h1>
      <a href="/" class="login-link">
        FSND Basic Blog - Stephen Yoon
      </a>
    </h1>
    <a href="/blog" class="post-title">Click here to go to the blog</a>
    <br>
    <a href="/blog/newpost" class="post-title">Click here for new post</a>
    <br>
    <a href="/rot13" class="post-title">Click here to go to the rot13 page</a>
    <br>
    <a href="/signup" class="login_area login-link">Sign Up</a>
    <br>
    <a href="/login" class="login_area login-link">Log In</a>
    <br>
    <a href="/logout" class="login_area login-link">Log Out</a>
    <br><br><br>

    {% block content %}
    {% endblock %}

  </body>

</html>
