<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FSND Basic Blog</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>

  <body style="margin: 0">
    <h1 style="background-color: #ddd; color: #888; margin: 0 height: 50px">
      FSND Basic Blog - Stephen Yoon
    </h1>
    <a href="/blog" class="post-title">Click here to go to the blog</a>
    <br>
    <a href="/blog/newpost" class="post-title">Click here for new post</a>
    <br>
    <a href="/rot13" class="post-title">Click here to go to the rot13 page</a>

  </body>

</html>
